header {
  height: 50px;
  width: 100%;
  background-color: #4a90e2;
  display: flex;
  justify-content: space-between;
}

header > img {
  height: 100%;
  margin: auto 0px auto 30px;
}

header > button {
  display: flex;
  height: 100%;
  width: auto;
  margin: auto 30px auto 0px;
  border: 0;
  position: relative;
  background-color: transparent;
}

header > button > img {
  height: 1.5em;
  margin: 0 0 0 10px;
}

header > button > label {
  position: relative;
  color: white;
  font-weight: bolder;
  top: 0.25em;
}
